.main-image {
  display: block;
  width: 60vw;
  // margin-left: 15%;
}

.bordered {
  border: 1px solid black;
}

img {
  margin: 0 auto;
  text-align: center;
  display: block;
}

.logo-center {
  width: 100%;
  // border: 1px solid black;
}

.small-image {
  width: 30vw;
  min-width: 250px;
}

.logo-header {
  height: 100px;
  display: block;
  margin-top: -25%;
}

.all-categories,
.category-header {
  font-size: 4em;
  font-weight: 900;
  text-align: center;
}

.thing-header {
  font-size: 3em;
  font-weight: 700;
  text-align: center;
}

.flex-container {
  display: flex;
  flex-direction: row;
}

.display-inner {
  margin: 10px;
  padding: 20px;
  background-color: $white;

  ul {
    padding: 0px;
  }

  .flat-list li {
    padding: 10px 15px;
    list-style: none;
    font-size: 2em;
    letter-spacing: 0.1em;

    .delete-button {
      float: right;
      // margin-top: 2%; // this needs to be in a breakpoint
      color: #fff;
      background-color: darken($watermelon, 25%);

      &:hover {
        background-color: darken($watermelon, 30%);
      }
    }
  }

  .flat-list.contents li {
    font-size: 1.5em;
  }
}

.header-center {
  margin: 0 auto;
  text-align: center;
  min-width: 400px;
  padding: 10px;

  .category-header {
    text-align: center;
    font-size: 3em;


    a {
      color: $teal;

      &:hover {
        color: darken($teal, 10%);
        text-decoration: none;
      }
    }
  }

  .header-buttons {
    display: inline;
    margin: 0 auto;
  }
}

.thing-detail {
  cursor: pointer;

  &:hover {
    text-decoration: underline;
    color: darken($tangerine, 20%);
  }
}

.note-box {
  border: 1px solid black;
  width: 60%;
  margin: auto;
  padding: 25px;
  background-color: $white;
  box-shadow: 2px 2px 5px $black;

  .note-header {
    font-size: 1.8em;
    text-decoration: underline;
    font-weight: 900;
  }
  ul {
    padding: 0;
  }

  li {
    font-size: 1.3em;
    list-style: none;
    border-bottom: 1px solid $light-blue;
    line-height: 2.5em;
  }
  li:last-child {
    margin-top: 10px;
    border: 0px;
  }

  // .save-button {
  //   float:right;
  // }
}

.bottom-button-box {
  margin-top: 10px;
  border-top: 3px solid lighten($dusty-navy, 30%);
  padding: 15px;
  .done-button {
    margin: auto;
    float: left;
  }
}

.clearfix {
  overflow: auto;
  zoom: 1;
}

.hidden {
  visibility: hidden;
}

.transparent {
  opacity: 0.1;
  z-index: -99;
}

.flex {
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.form-control.inline {
  display: inline-block !important;
  font-size: 18px;
}

.subheader {
  text-align: center;
  // font-style: italic;
  font-weight: 600;
  color: darken($teal, 10%);
}
