<h1>My Categories</h1>
<ul>
{{#each model as |category|}}
  {{#link-to 'category' category}}
    {{category-list/card title=category.name}}
    {{category.user_id}}
  {{/link-to}}
{{/each}}
</ul>
{{category-create createCat='createCat'}}
