<div class="flex">
<div class="display-inner">
  <h1 class="all-categories">My Categories</h1>
  <ul class="flat-list">
  {{#each model as |category|}}

      <li>
      {{#link-to 'category' category}}
        {{category-list/card title=category.name}}
      {{/link-to}}

      {{category-delete category=category
                      delete='delete'}}
      </li>
  {{/each}}
  <li>
    {{category-create createCat='createCat'}}
  </li>

  </ul>

</div>
</div>
