<h3 class="category-header">
  {{category-list/card title=category.name}}
  <button class="btn btn-x btn-primary" {{action 'edit'}}>
    Edit
  </button>
  {{back-button back='back'}}
</h3>

<ul>
  {{#each category.things as |thing|}}
    {{category-list/thing thing=thing deleteThing='deleteThing' showDetails='showDetails'}}
  {{/each}}
</ul>
