<h1> {{content.name}} </h1>
{{back-button back='back'}}
<p>
  <strong>Notes:</strong>
</p>
<ul>
{{#each content.note_list as |note|}}
  <li>
    {{note}}
  </li>
{{/each}}
</ul>
{{thing-details/add-notes content=content createNote='createNote'}}
