<form {{action 'createNote' on='submit'}}>
  <span style="display: inline-block; width: 80%" >
  {{input placeholder='Notes...'
          value=form.new_comment}}
        </span>

  <button class="btn btn-default save-button" type="submit">Save</button>
</form>
